* {
    font-family: 'Audiowide', cursive;
}
body {
    height:100vh;
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin:0;
    background-color:rgb(40, 44, 52);
}
h3 {
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
    /* font-size: 30px !important; */
}
select {
    border-radius: 5px;
    text-align-last:center;
}
/* this is the canvas */
#root {
    width:100vmin;
    height:100vmin;
    background-color:white;
    border-radius: 5px;
    
} 
form {
    background-color:rgb(104, 114, 134);
    align-items: center;
    /* margin:10px; */
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 5px;
    border:1px rgb(0, 253, 190) solid
}

