body {
    margin:0px;
    height:100vh;
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin:0;
    background-color:rgb(14,14,14)
}
h1 {
    text-align: center;
}

/* this is the canvas */
#root {
    width:100vmin;
    height:100vmin;
    background-color:white
    
} 
form {
    /* width:100%; */
    background: pink;
    align-items: center;
    margin:10px;
    display: flex;
    flex-direction: column;
    padding: 2%;
}